parameters:
	ignoreErrors:
		-
			message: "#^Call to static method where\\(\\) on an unknown class WHMCS\\\\Module\\\\Addon\\\\Setting\\.$#"
			count: 2
			path: modules/addons/pressable/hooks.php

		-
			message: "#^Function add_hook not found\\.$#"
			count: 1
			path: modules/addons/pressable/hooks.php

		-
			message: "#^Call to method client\\(\\) on an unknown class WHMCS\\\\Authentication\\\\CurrentUser\\.$#"
			count: 1
			path: modules/addons/pressable/lib/Api/PressableClientRestricted.php

		-
			message: "#^Call to method isMasqueradingAdmin\\(\\) on an unknown class WHMCS\\\\Authentication\\\\CurrentUser\\.$#"
			count: 1
			path: modules/addons/pressable/lib/Api/PressableClientRestricted.php

		-
			message: "#^Instantiated class WHMCS\\\\Authentication\\\\CurrentUser not found\\.$#"
			count: 1
			path: modules/addons/pressable/lib/Api/PressableClientRestricted.php

		-
			message: "#^Call to method isMasqueradingAdmin\\(\\) on an unknown class WHMCS\\\\Authentication\\\\CurrentUser\\.$#"
			count: 1
			path: modules/addons/pressable/lib/Client/Controller/ShowSiteList.php

		-
			message: "#^Instantiated class WHMCS\\\\Authentication\\\\CurrentUser not found\\.$#"
			count: 1
			path: modules/addons/pressable/lib/Client/Controller/ShowSiteList.php

		-
			message: "#^Call to method isMasqueradingAdmin\\(\\) on an unknown class WHMCS\\\\Authentication\\\\CurrentUser\\.$#"
			count: 1
			path: modules/addons/pressable/lib/Client/Router.php

		-
			message: "#^Instantiated class WHMCS\\\\Authentication\\\\CurrentUser not found\\.$#"
			count: 1
			path: modules/addons/pressable/lib/Client/Router.php

		-
			message: "#^Call to static method where\\(\\) on an unknown class WHMCS\\\\Module\\\\Addon\\\\Setting\\.$#"
			count: 1
			path: modules/servers/pressable/pressable.php
